{% extends 'user/user_base.html' %}
{% load static %}
{% block title %}ログイン{% endblock %}
{% block content %}
<main class="form-signin">
    <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">ログイン</h1>
        <h5>フォームに入力してログインしてください。</h5>
        {{ form.username }}
        {{ form.password }}
        {% if form.errors %}
        <p>ユーザー名またはパスワードが一致しません</p>
        {% endif %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">ログイン</button>
        <a href="{% url 'signup' %}">新規登録</a>
    </form>
</main>
{% endblock %}