{% extends 'user/user_base.html' %}
{% load static %}
{% block title %}新規登録{% endblock %}
{% block content %}
<main class="form-signin">
    <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">新規登録</h1>
        <h5>フォームに入力して新規登録してください。</h5>
        {{ form.username }}
        {{ form.password1 }}
        {{ form.password2 }}
        {% if form.errors %}
        <p>ユーザー名またはパスワードが一致しません</p>
        {% endif %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">新規登録</button>
    </form>
</main>
{% endblock %}